* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table,
th,
td {
    border: 1px solid black;
}

td {
    padding: 5px;
}

img {
    width: 40px;
    height: 25px;
}